.git
.github

.gitignore

.vscode
.idea

**/__pycache__
**/*.pyc
**/*.pyo

**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

backend/.venv
frontend/.venv

.env

logs

screenshots

docs

uploads

**/.DS_Store

backend/chroma_db
backend/app/rag/chroma_db

**/.coverage
coverage.xml

htmlcov

*.log